body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding-top: 60px; /* Ensure content starts below the fixed div */
}

.table-container {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.table-container h1 {
    margin: 0;
    text-align: center;
}

.table-container .logout-button {
    position: absolute;
    top: 20px;
    /*right: 20px;*/
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.table-container .logout-button:hover {
    background-color: #0056b3;
}
